<h1>Hi, Nice to see you.</h1>
<p>I'm Pongpanot, Frontend web develop from <img src="./asset/thailand.png" width="16"/> <b>Chiang Mai, Thailand.</b></p>



<p>Currently, the weather is: <b> {{city_temperature}}°C, <i>{{city_weather}}</i></b></br>Today, the sun rises at <b>{{sun_rise}}</b> and sets at <b>{{sun_set}}</b>.</p>
<hr />
<p align="center">this <i>README</i> file is generated <b>every 3 hours</b>!
</br>
Last refresh: {{refresh_date}}
